/*START Variables*/
@font-face {
	font-family: "Inter", sans-serif;
	src: url('/tipografia/Inter-VariableFont_slnt\,wght.ttf');
}

$background-color-primary: #fff;
$background-color-secondary: #F6F6F6;
$accent-color-1: #FF6700;
$linear-orange: linear-gradient(45deg, #FF822E, #FF6700);
$linear-orange-light: linear-gradient(45deg, rgb(255, 235, 221), rgb(255, 235, 221));
$accent-color-2: #2D2D3A;
$font-family-primary: "Inter", sans-serif;
$font-color-dark: #1c1c1c;
$font-color-light: #f0f0f0;
/*END Variables*/