/*START Importaciones*/
@import "variables";
@import "estilos-generales";
@import "header";
@import "cajas-con-iconos";
@import "footer";
/*END Importaciones*/

/*START Opening section with background image*/
section.hero-with-form {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/A-tamano/Banners/Fabricas-y-comercios/Control\ de\ accesos.png");
	min-height: fit-content;
	padding-top: 16vh;
}
/*END Opening section with background image*/


/*START Section boxed text Siempre protegido con VTO*/
section.boxed-text-siempre-protegido {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-bottom: none;
	padding-top: 96px;

	@media only screen and (max-width: 768px) {
		padding-top: 64px;
	}

	div.caja-titulos {
		display: flex;
		justify-content: center;
		align-items: center;
		h2:nth-child(1) {
			color: $accent-color-2;
		}

		h2:nth-child(2) {
			color: $accent-color-1;
			margin-left: 16px;
		}

	}
}
/*END Section boxed text Siempre protegido con VTO*/


/*START Section Tabla controles de acceso*/
section.tabla-controles-de-acceso {
    table {
        thead {
            tr {
                th {
                    background-color: $background-color-secondary;
                    height: fit-content;
                    vertical-align: middle;
                    border: none;
                }
                td:first-child {
                    display: flex;
                    text-align: left;
                    margin-left: 0;
                }
            }
        }

        p {
            font-size: 16px;
            line-height: 150%;
            text-align: left;
        }
        p:last-child {
            color: #9090A1;
            font-size: 14px;
            line-height: 170%;
        }
        p:first-child {
            font-weight: 700;
        }
        td {
            vertical-align: middle;
            padding-top: 16px;
        }
        td:first-child {
            width: 455px;
        }

        tbody tr td:nth-child(1) img {
            height: 24px;
        }
    }

}
/*END Section Tabla controles de acceso*/

/*START Boxed texto*/
section.texto {
    padding-top: 0;
}

/*START Caja de imagen*/
section.caja-imagen {
	min-height: fit-content;
	background-image: url("../imagenes/caja-imagen-fabricas.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border: none;

	@media only screen and (max-width: 992px) {
		background: $accent-color-2;
	}

    div.row {
        justify-content: center;
    }

	div.container {
		justify-content: center;
		align-items: center;
		text-align: center;
		@media only screen and (max-width: 992px) {
			justify-content: center;
			align-items: center;
			text-align: center;
			margin-left: auto;
			padding-right: auto;
		}
		h2,	h3,	p {
			color: #fff;
		}
		h2 {
			font-size: 36px;
			line-height: 125%;
		}
		p {
			font-size: 18px;
			line-height: 150%;
		}
		button {
			width: fit-content;
		}
		div {
			@media only screen and (max-width: 992px) {
				justify-content: center;
			}
		}
	}
}
/*END Caja de imagen*/


/*START Section Tambien podria interesarte*/
section.nuestras-soluciones {
	align-items: center;
	justify-content: center;
	padding-top: 96px;
	padding-bottom: 96px;

	div.row {
		justify-content: center;

		&:first-child {
			h3 {
				color: $accent-color-1;
			}
		}
	}

	a.tarjeta-con-hover {
		height: 380px;
		@media only screen and (max-width: 769px) {
			margin-bottom: 10px;
		}
	
		figure:hover > h3 {
			bottom: 25%;
		}
	
		@media only screen and (max-width: 769px) {
			figure {
				.capa {
					opacity: 1;
					visibility: visible;
				}
				h3 {
					font-size: 24px;
					bottom: 27%;
				}
			}
		}

		h3 {
			padding-right: 3px;
		}
	}

}
/*END Section Tambien podria interesarte*/